<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding ion-text-center">
    <img src="../../assets/icon/logo.png" alt="iconbase" style="max-width: 50%;max-height: 50%;">
  </div>
  <div class="ion-padding">

    <ion-card>

      <ion-card-content>

        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>

          <ion-label color="black" position="stacked">
            Usuario
          </ion-label>
          <ion-item>
            <ion-input formControlName="usuario" type="text" required></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSumitted && errorControl.usuario.errors?.required">
            Llena el campo
          </span>
          <br>
          <br>
          <ion-label>
            Contraseña
          </ion-label>
          <ion-item>
            <ion-input formControlName="password" type="password" required></ion-input>
          </ion-item>
          <span class="error ion-padding" *ngIf="isSumitted && errorControl.password.errors?.required">
            Llena el campo
          </span>
          <span class="error ion-padding" maxlength="6" *ngIf="isSumitted && errorControl.password.errors?.minlength">
            6 caracteres minimo
          </span>
  
          <div class="ion-padding" >
            <ion-button type="submit" strong expand="block" color="tertiary">Iniciar</ion-button>
            
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </div>


  <br><br>
  <br><br>
  
  
<ion-footer class="ion-text-center">
  <ion-label >
    <ion-button fill="outline" size="small" color="success" [routerLink]="(['/register'])" >Registrarse</ion-button>
  </ion-label>
  <br>
  <br>
  <br>
  <p>
    Locatarios
  </p>
</ion-footer>

</ion-content>