<ion-header>
    <ion-toolbar *ngIf="localinfo">
        <ion-title class="ion-text-center"> {{ localinfo.name }} </ion-title>
        <ion-button slot="end" [routerLink]="['/login']" class="ion-margin">
            <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="localinfo">
    <ion-img class="ion-padding"
        src="https://cdn2.cocinadelirante.com/sites/default/files/styles/gallerie/public/images/2020/03/licuado-de-frutos-rojos-con-leche-de-almendra.jpg">
    </ion-img>


    <div class="ion-text-center ion-padding">
        <ion-text> {{ localinfo.description }} </ion-text>
    </div>
    <ion-card>
        <ion-card-content>

            <ion-item>
                <ion-title class="ion-no-padding" color="dark">Direccion</ion-title>
                <ion-text> {{ localinfo.address }} </ion-text>
                <ion-icon name="navigate-circle" slot="end"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-title class="ion-no-padding" color="dark">Horario</ion-title>
                <ion-text> {{localinfo.horary}} </ion-text>
                <ion-icon name="timer" slot="end"></ion-icon>
            </ion-item>
            <ion-item>
                <ion-title class="ion-no-padding" color="dark">Telefono</ion-title>
                <ion-text> {{localinfo.tel}} </ion-text>
                <ion-icon name="call" slot="end"></ion-icon>
            </ion-item>

        </ion-card-content>
    </ion-card>

    <div id="map">

    </div>


    <div class="ion-padding">
        <ion-list>
            <ion-list-header  lines="inset" color="light">
                <ion-title>Menu</ion-title>
                <ion-button class="ion-margin" fill="solid" color="success" (click)="goMenu()">Editar</ion-button>
            </ion-list-header>
            <ion-item *ngFor="let item of localinfo.menu">

                <ion-text color="success" slot="start">
                    $ {{ item.price }} 
                    
                </ion-text>
                <ion-label class="ion-text-right">
                   {{ item.name }} 
                </ion-label>

            </ion-item>
        </ion-list>
    </div>



    <ion-footer class="ion-text-center ion-padding">
        
    </ion-footer>
</ion-content>