<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>





<ion-content>

  <ion-card>
    <ion-card-header color="light">
      <ion-card-title class="ion-text-center">
        Llena los campos
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="registerForm" (ngSubmit)="submitForm()" novalidate>

        <ion-item-divider color="primary">
          <ion-label>Datos de Usuario</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label position="floating">
            Usuario
          </ion-label>
          <ion-input type="text" formControlName="usuario" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.usuario.errors?.required">
          Llena el campo
        </span>
        <ion-item>
          <ion-label position="floating">
            Contraseña
          </ion-label>
          <ion-input type="password" formControlName="password" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.password.errors?.required">
          Llena el campo
        </span>
        <span class="error ion-padding" maxlength="6" *ngIf="isSubmitted && errorControl.password.errors?.minlength">
          6 caracteres minimo
        </span>

        <ion-item-divider color="secondary">
          <ion-label>Datos del Establecimiento</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label position="floating">
            Nombre del establecimiento
          </ion-label>
          <ion-input formControlName="name" type="text" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
          Llena el campo
        </span>

        <ion-item>
          <ion-label position="floating">
            Dirección
          </ion-label>
          <ion-input formControlName="address" type="text" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.address.errors?.required">
          Llena el campo
        </span>

        <ion-item>
          <ion-label position="floating">
            Descripcion
          </ion-label>
          <ion-textarea formControlName="descripcion" type="text" required></ion-textarea>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.descripcion.errors?.required">
          Llena el campo
        </span>

        <ion-item>
          <ion-label position="floating">
            Numero de telefono
          </ion-label>
          <ion-input formControlName="tel" type="text" maxlength="10" required></ion-input>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.tel.errors?.required">
          Llena el campo
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.tel.errors?.pattern">
          Solo numeros
        </span>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.tel.errors?.minlength">
          10 Digitos
        </span>

        <ion-item>
          <label position="floating">Categoria</label>
          <ion-select multiple formControlName="categories" interface="alert" slot="end" required>
            <ion-select-option value="Mariscos">Mariscos</ion-select-option>
            <ion-select-option value="Tacos">Tacos</ion-select-option>
            <ion-select-option value="Pizzas">Pizzas</ion-select-option>
          </ion-select>
        </ion-item>
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.categories.errors?.required">
          Categoria es requerida
        </span>

        <ion-item>
          <ion-label position="fixed">
            Horario
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-grid>

            <ion-row>
              <ion-col class="ion-align-self-start">
                <ion-label class="ion-text-center">Abierto</ion-label>
                <ion-datetime display-timezone="utc" (ionChange)="getTime($event, 1)" displayFormat="hh:mm A"
                  minuteValues="0,30"></ion-datetime>
              </ion-col>
              <ion-col class="ion-align-self-center">
                <ion-label class="ion-text-center">
                  a
                </ion-label>
              </ion-col>
              <ion-col class="ion-align-self-end">
                <ion-label class="ion-text-center">Cerrado</ion-label>
                <ion-datetime display-timezone="utc" (ionChange)="getTime($event, 2)" displayFormat="h:mm A"
                  minuteValues="0,30"></ion-datetime>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>


        <div class="ion-text-center ion-padding">

          <ion-button type="submit" strong shape="round">
            Registrarse
          </ion-button>
        </div>
      </form>
    </ion-card-content>
  </ion-card>

  <div class="ion-padding ion-text-center">
    <img src="../../assets/icon/logo.png" alt="iconbase" style="max-width: 30%;max-height: 30%;">
  </div>
</ion-content>